<div class="row">
    <div class="col-md-12">
        <h2>Create an account</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form id="user-sign-up">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" name="name" class="form-control" id="name" aria-describedby="nameHelp"
                    placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="phone">Phone number</label>
                <input type="phone" name="phone" class="form-control" id="phone" placeholder="Enter phone number">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="address" name="address" class="form-control" id="address" placeholder="Enter address">
            </div>
            <button type="submit" id="tryMe" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>