<div class="row">
     <div id="frontpage" class="card-img d-flex">
        <div class="image-container">
            <img src="\img\UNADJUSTEDNONRAW_thumb_f.jpg" class="card-img" alt="veggie" width="900" height="600">
            <div class="text-link">
                <a class="link" id="buy" href="/market">Buy</a>
                <a class="link" id="sell" href="/signin-login">Sell</a>
            </div>
            <div class="text">
                <h3>PRODUCE are</h3>
                <h1 class='slider'>
                    <span class='active'>local</span>
                    <span class='next'>organic</span>
                    <span>freshly picked</span>
                </h1>
                <br>
                <h3>for YOU every day.</h3>
            </div>
        </div>
    </div>
</div>