<div id="stand" class="col-md-12"></div>
<div id="back">
    {{#if user}}
    <a href="/profile">← Back To Profile</a>
    {{/if}}
    {{#unless user}}
    <h2>Welcome to {{user.name}} market stand</h2>
    <a href="/market">← Back To Marketplace</a>
    {{/unless}}
</div>
<div class="row">
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6">

        <!--Card Narrower-->
        <div class="card card-cascade narrower">

            <!--Card image-->
            <div class="view view-cascade overlay">
                <img src="\img\radish_micros.png" class="card-img-top" alt="narrower">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body card-body-cascade">
                <!--Title-->
                <h3 class="card-title">Microgreens</h3>
                <!--Text-->
                <ul>
                    <li><strong>Price</strong>: $ {{example.price}}</li>
                    <li><strong>Quantity</strong>: {{example.quantity}}</li>                        
                    <li><strong>Description:</strong> {{example.description}}</li>
                </ul>

                <button type="submit" id="pickUp" class="btn btn-primary">Pick up</button>
            </div>
            <!--/.Card content-->

        </div>
        <!--/.Card Narrower-->

    </div>
    <!-- Grid column -->
</div>
</div>