<div class="row">
    <h1>Marketplace</h1>
    
    <!--The div element for the map -->
    <div id="map"></div>
    <div id="map1"></div>
    
    
    <!--Load the API from the specified URL
        * The async attribute allows the browser to render the page while the API loads
        * The key parameter will contain your own API key (which is not needed for this tutorial)
        * The callback parameter executes the initMap() function
        -->
    
    <script type="text/javascript" src="../public/js/signup.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3ov2LRNVa3iSGa0M1JrptzYYeXir3xH8&libraries=places&callback=initMap">
    </script>
</div>