<div class="row">
        <!-- backbox -->
        <div id="backbox" class="card-img d-flex">
            <div class="loginMsg">
                <div class="textcontent">
                    <p class="title">Don't have an account?</p>
                    <button id="switch1">Sign Up</button>
                </div>
            </div>
            <div class="signupMsg visibility">
                <div class="textcontent">
                    <p class="title">Have an account?</p>
                    <button id="switch2">Log In</button>
                </div>
            </div>
        </div>
        <!-- backbox -->

        <!-- frontbox -->
        <div class="frontbox d-flex">
            <div class="login">
                {{>login}}
            </div>
            <div class="signup hide">
                {{>signup}}
            </div>
        </div>
        <!-- frontbox -->
</div>





