.list-group-item {
  line-height: 2.5;
}


.navbar.navbar-expand-lg.navbar-light {
  font-family: 'Amatic SC', cursive;
  background-color: yellowgreen;
  height: fit-content;
  margin-bottom: 50px;

}

.container {
  font-family: 'Sriracha', cursive;
}

.card.bg-dark.text-white {
  margin-top: 75px;
}

#footer {
  position: sticky;
  margin-top: 225px;
  margin-bottom: 0;

}

.card-overlay {
  background-color: yellowgreen;
  height: fit-content;
  padding: 10px;

}
